# FOR LOOP

In [ ]:
for <variable> in <sequence>:
    <statement>

In [19]:
lis=[1,2,3,4,5,6,7,8,9,10]

In [20]:
for step in lis:
    print(f"the step is {step}")

the step is 1
the step is 2
the step is 3
the step is 4
the step is 5
the step is 6
the step is 7
the step is 8
the step is 9
the step is 10

In [4]:
product_list=[]
x=int(input('enter number of product'))
for i in range(x):
        product_list.append(input("enter product name :"))
        product_list.append(int(input("enter product rate :")))

enter number of product5
enter product name :five star
enter product rate :15
enter product name :dairy milk
enter product rate :45
enter product name :french fries
enter product rate :60
enter product name :milk shake
enter product rate :50
enter product name :water melon
enter product rate :100

In [5]:
product_list

['five star',
 15,
 'dairy milk',
 45,
 'french fries',
 60,
 'milk shake',
 50,
 'water melon',
 100]

# while loop

In [45]:
n=int(input("enter the number:"))
n1=0
n2=1
n3=0
count=1
while n3<=n:
    print(n3)
    count+=1
    n1=n2
    n2=n3
    n3=n1+n2

enter the number:610
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610